@mixin icon-style() {
  text-align: center;
  &__icon {
    font-size: 140px;
    color: #f6b7aa ;
  }
  &__text {
    font-size: 35px;
  }
}


* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

.body {
  display: flex;
}

.sideMenu {
  background: #0e536d;
  width: 400px;
  height: calc(100vh - 100px);
  padding: 10px 10px;
  color: #fae06e;
}

.Form{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  &__contents{
    width: 100%;
    background-color: #fff;
    position: relative;
  }
  &__inputContent {
    border: none;
    height: 50px;
    width: 100%;
    padding: 0 45px 0 15px;
  }
  &__inputImage {
    height: 50px;
    position: absolute;
    right: 10px;
  }
  .Form__icon {
    line-height: 50px;
    font-size: 25px;
    color: #0e536d;
    cursor: pointer;
  }

  &__submit {
    background-color: #5188b1;
    border: none;
    color: #fff;
    font-size: 16px;
    height: 50px;
    margin-left: 15px;
    padding: 0 30px;
    cursor: pointer;
  }
  .Hidden {
    display: none;
  }
}

.mainTitle {
  background: #fae06e;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    color: #0e536d;
    padding-left: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family:  'Londrina Shadow', cursive;
  }
}

.mainMenu {
  background: #fff5e0;
  width: calc(100vw - 400px);
  height: calc(100vh - 100px);
  .category {
    color: #0e536d;
    padding: 0 30px;
    font-family: 'Wawati SC',sans-serif;
    .category-upper {
      display: flex;
      justify-content: space-around;
      &__bugs {
        @include icon-style();
      }
      &__fish {
        @include icon-style();
      }
      &__birds {
        @include icon-style();
      }
    }
    .category-row {
      display: flex;
      justify-content: space-around;
      &__amphibian {
        @include icon-style();
      }
      &__reptiles {
        @include icon-style();
      }
      &__mammalian {
        @include icon-style();
      }
    }
    
  }
}