@mixin icon-style() {
  text-align: center;
  &__icon {
    font-size: 140px;
    color: #f6b7aa ;
  }
  &__text {
    font-size: 35px;
  }
}


* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

.body {
  display: flex;
}

.sideMenu {
  background: #0e536d;
  width: 250px;
  height: calc(100vh - 100px);
  padding: 10px 10px;
  color: #fae06e;
  text-align: center;
  .post__btn{
    text-align: center;
    text-decoration: none;
    color: #fae06e;
    font-size: 130px;
    &__text{
      font-family: 'Wawati SC',sans-serif;
      font-size: 30px;
      
    }
  }
}


.mainTitle {
  background: #fae06e;
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    color: #0e536d;
    padding-left: 30px;
    font-size: 50px;
    font-weight: bold;
    font-family:  'Londrina Shadow', cursive;
  }
}
.post {
  background: #0e536d;
  margin-right: 15px;
  padding: 0 8px;
  color: #fff;
  font-size: 30px;
}
.logout{
  background: #0e536d;
  margin-right: 15px;
  padding: 0 8px;
  color: #fff;
}

.mainMenu {
  background: #fff5e0;
  width: calc(100vw - 250px);
  height: calc(100vh - 100px);
  .category {
    color: #0e536d;
    padding: 0 30px;
    font-family: 'Wawati SC',sans-serif;
    .category-upper {
      display: flex;
      justify-content: space-around;
      &__bugs {
        @include icon-style();
      }
      &__fish {
        @include icon-style();
      }
      &__birds {
        @include icon-style();
      }
    }
    .category-row {
      display: flex;
      justify-content: space-around;
      &__amphibian {
        @include icon-style();
      }
      &__reptiles {
        @include icon-style();
      }
      &__mammalian {
        @include icon-style();
      }
    }
  }
}