.search-form {
border: none;
display: flex;
padding: 10px 20px;
}

.search-input {
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 30px;
  box-shadow: 1px 1px 2px #999999;
  border-style: none;
  margin-bottom: 20px;
}

.search-btn {
  height: 60px;
  width: 110px;
  margin-left: 10px;
  border-style: none;
  box-shadow: 1px 1px 2px #999999;
  cursor: pointer;
  background: #0e536d;
  color: #fff;
}

.main-menu {
  overflow: scroll;
}

.search__result {
  color: #0e536d;
  display: flex;
  align-items: center;
  flex-direction: column;
}