.logo-content {
  font-size: 30px;
  color: $yellowColor;
  font-weight: bold;
  padding-right: 10px;
}


.show-area {
  background:$yellowColor;
  box-sizing: border-box;
  width: calc(100vw - 500px);
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.Form{
  width: 80%;
  color: $blueColor;
  &__contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
  &__inputContent {
    border: none;
    height: 50px;
    width: 80%;
    display: flex;
    padding-left: 20px;
  }
  &__inputImage {
    color: $blueColor;
    font-size: 100px;
    cursor: pointer;
  }
.hidden {
  display: none;
}
  &__submit{
    align-items: center;
    height: 60px;
    width: 100px;
    padding: 0 30px;
    background: $blueColor;
    color: white;
    box-shadow: 1px 1px 2px #999;
    border-style: none;
    display: flex;
    cursor: pointer;
    margin-bottom: 20px;
  }
}

.post-new__show {
  color: $blueColor;
  text-align: center;
}
.Post-new__delete {
  background: $blueColor;
  color: lightgray;
  font-size: 25px;
  padding: 5px;
}
.Post-new__edit {
  background: $blueColor;
  color: lightgray;
  font-size: 25px;
  padding: 5px;
}
.post-new__upper {
  display: flex;
  justify-content: center;
}
.post-new__lower {
  display: flex;
  justify-content: center;
}

#new-comment {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.comment {
  margin-top: 20px;  
  &__box {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 350px;
    padding: 10px;
  }
  &__btn {
    background: $blueColor;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    width: 350px;
    cursor: pointer;
  }
}
.comments {
  margin: 20px 0;
  &__title {
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
  }
  &__text {
    &__name {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
.contents__row {
  font-size: 30px;
  color: #fff;
  background: $blueColor;
  padding: 10px 30px;
}