h2 {
  font-family:  'Londrina Shadow', cursive;
  color: #0e536d;
  font-size: 30px;
  margin: 20px;
}

.field {
  height: 50px;
  margin: 10px 20px;
}

.sign-btn {
  width: 200px;
  height: 50px;
  border: solid 1px;
  background-color: #0e536d;
  color: white;
  margin: 10px 20px;
}