.menu
  .mainTitle
    .mainTitle__logo
      .mainMenu
        .search
          .search-form
            .search-input
        .category
          .category__bugs
          .category__marine-products
          .category__birds
          .category__reptiles
          .category__amphibian
          .category__mammalian