.menu
  .header
    .mainTitle
      .mainTitle__logo
        Animal Search
  .body
    .sideMenu
      .new-post
    .mainMenu
      .search
        .search-form
          .search-input
      .category
        .category__bugs
          虫
        .category__marine-products
          魚介類
        .category__birds
          鳥類
        .category__reptiles
          は虫類
        .category__amphibian
          両生類
        .category__mammalian
          ほ乳類