.send-area
  .logo-content
    詳細
  .edit-area
    .Post-new
      .Post-new__text
        = @post.text if @post.text?
      .Post-new__date
        = @post.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .Post-new__image
        = image_tag(@post.image.to_s) if @post.image?
      = link_to "編集", edit_post_path(@post.id), method: :get, class: "Post-new__edit"